<a href="https://colab.research.google.com/github/Sumantth-Gupta/ineuron_assignments/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.*
&#39;hello&#39;
-87.8
-
/
  +
6

#Answer :
from the above mentioned elements values and expressions are classified as mentioned in below

Value -> 'hello' , -87.8 , 6
expressions -> * , / , + , -

#2. What is the difference between string and variable?

Variable : variable can be anything that starts with _/alphabet and a variable 
can be alphanumeric.
*   Variable is used to store values in it values can be of any datatype.
*   variable act as memory location for those values where we can use those values by calling the variables.

String : String is a datatype which is enclosed within the quotes it contains alphabets and numbers (alphanumeric), if numbers are not mentioned with in quotes then it doesn't come under a string datatype.

*   A value to be qualified as a string it should be enclosed in quotes.

#3. Describe three different data types.

Three Different datatypes in python are:

Integer : This datatype accepts only numbers without decimals.

*   In short form it is called as int.

List : This accepts numbers and alphabets and it is used to store multiple values in one variable.

*   values are enclosed with sqaure brackets ("[]")



Dictionary : In this type of datatype we store elements in key,values pair format where we give key to access the values inside it.


1.  values are enclosed within flower bracket ("{}")



Example of above 3 datatypes are below.

In [10]:
a=8
b=[5,4,545,'ineuron','assignment']
c={'ineuron':'assignment','assignmnet':'one'}
print(type(a),"\n",type(b),"\n",type(c))

<class 'int'>
 <class 'list'>
 <class 'dict'>

#4. What is an expression made up of? What do all expressions do?

Expression is combination of operands and operators.
ex : k=a+1
from above example k is variable, a is operand and + is operator
Basically all expressions represent a value

# 5. This assignment statements, like spam = 10. What is the difference between expression and a statement?

Expression : Combination of operators,object and values after interpretation which in turn produces a new value is called Expression

Statement : A statement is which gets executed and tells the computer to perform a task

#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans : 23

#7. What should the values of the following two terms be?

In this the 1st set of element concatenates with the 2nd set of element 
&#39;spam&#39; + &#39;spamspam&#39; = spamspamspam

in this the string is repeated 3 times
&#39;spam&#39; * 3 = spamspamspam

#8. Why is eggs a valid variable name while 100 is invalid?
Ans : To declare a variable we have a set rules which we have to folllow while writing it.

1.   variable should start with _(underscore) or alphabet
2.   keyword cannot a variable name
3. Variable cannot be blank

100 is invalid variable name because it starts with number,
eggs is valid because it satisfies the rule 1 mentioned above.

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans : To convert a value to int we use int(value/variable) , float(value/variable) to covert to float and str(value/variable) to convert to string.
a=99.9
int(a) -> 99
float(a) -> 99.9
str(a) -> '99.9'

#10. Why does this expression cause an error? How can you fix it?

###&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;
Ans: It throws an error called cannot concatenate string with integer because "+" works as addition when used with intergers/numbers, and if strings are used it works as concatination.

In the above mentioned expression there are integers and string so that's the reason it is throwing an error, to fix it we just have to convert the int to str that would solve the issue

'I have eaten'+'99'+'burritos'